<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> «Медведь» и «Медведица» перенаправляются сюда; см. также другие
    значения терминов Медведь и Медведица.
    Медве́жьи[1] (лат. Ursidae) — семейство млекопитающих отряда хищных. Отличаются от
    других представителей псообразных более коренастым телосложением. Медведи всеядны,
    хорошо лазают и плавают, быстро бегают, могут стоять и проходить короткие расстояния на
    задних лапах. Имеют короткий хвост, длинную и густую шерсть, а также отличное обоняние.
    Охотятся вечером или на рассвете.
    Обычно остерегаются человека, но могут быть опасными в тех местах, где они привыкли к
    людям, особенно белый медведь и медведь гризли. Мало восприимчивы к пчелиным укусам из-за
    своей густой шерсти, чувствительны для медведей укусы пчёл в нос[2]. В природе естественных
    врагов почти не имеют (на юге Дальнего Востока России и в Маньчжурии на них могут нападать взрослые
    тигры).
</p>
  <a href="https://www.discovery.com/shows/man-vs-bear/articles/bear-well-being-and-care-on-set">ссылка на фото зверя</a>

</body>
</html>